<%- include("./../partials/header.ejs") %>

    <div class="container">
        <div class="top-text">
            Hello, <%= name %>
        </div>
        <% if (role !="agent" ) { %>
            <div>
                <div class="create">
                    <button class="button" id="openAddFormButton">Create New Ticket</button>
                </div>

                <div class="form-popup" id="form">
                    <form action="/create-ticket" method="POST" class="popup-container">
                        <h1>New Ticket</h1>

                        <label for="title"><b>Title</b></label>
                        <input type="text" placeholder="Title" name="title" value="" required>

                        <label for="description"><b>Description</b></label>
                        <textarea type="text" placeholder="Description" name="description" value="" required></textarea>
                        <button type="submit" class="btn">Add</button>
                        <button type="button" class="btn cancel" id="closeAddForm">Close</button>
                    </form>
                </div>
            </div>
            <% } %>
                <div class="table-container">
                    <table class="styled-table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Creator</th>
                                <th>Agent</th>
                                <th>Created</th>
                                <th>Department</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% showTickets.forEach(ticket=> { %>
                                <tr class="openTicket" data-ticket-id="<%= ticket.idTickets %>">
                                    <td>
                                        <%= ticket.idTickets %>
                                    </td>
                                    <td class="toLong">
                                        <%= ticket.title %>
                                    </td>
                                    <td class="toLong">
                                        <%= ticket.description %>
                                    </td>
                                    <td>
                                        <%= ticket.creator_name %>
                                    </td>
                                    <td>
                                        <%= ticket.agent_name %>
                                    </td>
                                    <td>
                                        <%= ticket.created_datetime %>
                                    </td>
                                    <td>
                                        <%= ticket.department %>
                                    </td>
                                    <td class="
                                        <%= ticket.status === 'Solved' ? 'status-color-solved' :
                                            ticket.status === 'Closed' ? 'status-color-closed' :
                                            ticket.status === 'Processed' ? 'status-color-processed' :
                                            ticket.status === 'Created' ? 'status-color-created' : 'status-color-unknown' %>
                                    ">
                                        <%= ticket.status %>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
    </div>

    <%- include("./../partials/footer.ejs") %>
