<%- include("./../partials/header.ejs") %>
    <script type="module" src="/java_script/eventHandlersIndex.js"></script>

    <div class="container">
        <div class="top-text">
            Hello, <%= name %>
        </div>
        <% if (role=="user" ) { %>
            <div>
                <div class="create">
                    <button class="button" id="openAddFormButton">Create New Ticket</button>
                </div>

                <div class="form-popup" id="form">
                    <form action="/create-ticket" method="POST" enctype="multipart/form-data" class="popup-container">
                        <h1>New Ticket</h1>

                        <label for="title"><b>Title</b></label>
                        <input type="text" placeholder="Title" name="title" value="" required maxlength="200"
                            oninput="document.getElementById('charCountTitle').textContent = this.value.length >= this.maxLength ? 'You have reached the maximum character limit of ' + this.maxLength + '.' : this.value.length + '/' + this.maxLength + ' characters used.'">
                        <div id="charCountTitle">0/200 characters used.</div>

                        <label for="description"><b>Description</b></label>
                        <textarea type="text" placeholder="Description" name="description" value="" required
                            maxlength="2000"
                            oninput="document.getElementById('charCountDescription').textContent = this.value.length >= this.maxLength ? 'You have reached the maximum character limit of ' + this.maxLength + '.' : this.value.length + '/' + this.maxLength + ' characters used.'"></textarea>
                        <div id="charCountDescription">0/2000 characters used.</div>
                        <label for="category"><b>Category</b></label>
                        <select name="category" required>
                            <option value="" disabled selected hidden></option>
                            <% showCategories.forEach(Category=> {
                                if (Category.idCategory !== 1) { %>
                                <option value="<%=Category.idCategory %>">
                                    <%= Category.category_name %>
                                </option>
                                <% } }) %>

                        </select>
                        Allowed file types: JPEG, PNG, PDF, DOCX | Max file size: 2 MB each | Max 3 files. <br>
                        <label class="custom-file-upload">
                            add a file/picture
                            <input type="file" id="myFile" name="filename" multiple>
                        </label>
                        <div id="imageContainer"></div>
                        <span id="file-name">No file chosen</span>

                        <button type="submit" class="btn">Add</button>
                        <button type="button" class="btn cancel" id="closeAddForm">Close</button>
                    </form>
                </div>
            </div>
            <% } %>
                <form id="filter-form">
                    <input type="text" id="filter-input" placeholder="filter" name="filter" required><br>
                    <% if (role !="user" ) { %>
                        <label>claimed tickets</label>
                        <input type="checkbox" id="claimed-filter" name="claimed-filter">
                        <input type="hidden" name="user_name" value="<%= name %>">
                        <% } %>
                </form>
                <div class="table-container">
                    <table id="sortableTable" class="styled-table">
                        <thead>
                            <tr>
                                <th>ID <span class="sort-indicator"></span></th>
                                <th>Title <span class="sort-indicator"></span></th>
                                <th>Description <span class="sort-indicator"></span></th>
                                <th>Creator <span class="sort-indicator"></span></th>
                                <th>Agent <span class="sort-indicator"></span></th>
                                <th>Created <span class="sort-indicator"></span></th>
                                <th>Category <span class="sort-indicator"></span></th>
                                <th>updated <span class="sort-indicator"></span></th>
                                <th>Status <span class="sort-indicator"></span></th>
                                <% if (role=="admin" ) { %>
                                    <th class="table-delete">Delete</th>
                                    <% }%>
                            </tr>
                        </thead>
                        <tbody id="ticket-table-body">
                            <% showTickets.forEach(ticket=> { %>
                                <tr class="openTicket <% if ((ticket.agent_notification === 1 && role !== 'user') || (ticket.user_notification === 1 && role === 'user')) { %>highlighted-row<% } %>"
                                    data-ticket-id="<%= ticket.idTickets %>" data-claimed-filter="true">
                                    <td class="filter">
                                        <%= ticket.idTickets %>
                                    </td>
                                    <td class="toLong filter">
                                        <%= ticket.title %>
                                    </td>
                                    <td class="toLong filter">
                                        <%= ticket.description %>
                                    </td>
                                    <td class="filter">
                                        <%= ticket.creator_name %>
                                    </td>
                                    <td class="filter filter-agent">
                                        <%if(ticket.agent_name){%>
                                            <%= ticket.agent_name %>
                                                <%}else {%>
                                                    No agent assigned
                                                    <%} %>
                                    </td>
                                    <td class="filter">
                                        <%= ticket.created_datetime %>
                                    </td>
                                    <td class="filter">
                                        <%= ticket.category_name %>
                                    </td>
                                    <td class="filter">
                                        <%= ticket.updated_datetime %>
                                    </td>
                                    <td class="filter
                                        <%= ticket.status === 'Solved' ? 'status-color-solved' :
                                            ticket.status === 'Closed' ? 'status-color-closed' :
                                            ticket.status === 'Processed' ? 'status-color-processed' :
                                            ticket.status === 'Created' ? 'status-color-created' : 'status-color-unknown' %>
                                    ">
                                        <%= ticket.status %>
                                    </td>
                                    <% if (role=="admin" ) { %>
                                        <td>
                                            <form action="/delete-ticket" method="POST">
                                                <input type="hidden" name="ticketID" value="<%= ticket.idTickets %>">
                                                <button type="submit" class="red-button"
                                                    onclick="return confirm('Are you sure you want to close this ticket?');">Delete</button>
                                            </form>
                                        </td>
                                        <% }%>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
    </div>


    <%- include("./../partials/footer.ejs") %>
