<%- include("./../partials/header.ejs") %>

    <div class="container">
        <div class="top-text">
            Hello, <%= name %>
        </div>
        <% if (role=="user" ) { %>
            <div>
                <div class="create">
                    <button class="button" id="openAddFormButton">Create New Ticket</button>
                </div>

                <div class="form-popup" id="form">
                    <form action="/create-ticket" method="POST" enctype="multipart/form-data" class="popup-container">
                        <h1>New Ticket</h1>

                        <label for="title"><b>Title</b></label>
                        <input type="text" placeholder="Title" name="title" value="" required maxlength="200">

                        <label for="description"><b>Description</b></label>
                        <textarea type="text" placeholder="Description" name="description" value="" required
                            maxlength="2000"></textarea>
                        <label for="category"><b>Category</b></label>
                        <select name="category" required>
                            <option value="" disabled selected hidden></option>
                            <% showCategories.forEach(Category=> { %>
                                <option value="<%=Category.idCategory %>">
                                    <%= Category.category_name %>
                                </option>
                                <% }) %>
                        </select>
                        Allowed file types: JPEG, PNG, PDF, DOCX | Max file size: 2 MB each | Max 3 files. <br>
                        <label class="custom-file-upload">
                            add a file/picture
                            <input type="file" id="myFile" name="filename" multiple>
                        </label>
                        <div id="imageContainer"></div>
                        <span id="file-name">No file chosen</span>

                        <button type="submit" class="btn">Add</button>
                        <button type="button" class="btn cancel" id="closeAddForm">Close</button>
                    </form>
                </div>
            </div>
            <% } %>
                <form id="filter-form">
                    <input type="text" id="filter-input" placeholder="filter" name="filter" required>
                </form>
                <div class="table-container">
                    <table class="styled-table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Creator</th>
                                <th>Agent</th>
                                <th>Created</th>
                                <th>Category</th>
                                <th>Status</th>
                                <% if (role=="admin" ) { %>
                                    <th>Delete</th>
                                    <% }%>
                            </tr>
                        </thead>
                        <tbody id="ticket-table-body">
                            <% showTickets.forEach(ticket=> { %>
                                <tr class="openTicket" data-ticket-id="<%= ticket.idTickets %>">
                                    <td class="filter">
                                        <%= ticket.idTickets %>
                                    </td>
                                    <td class="toLong filter">
                                        <%= ticket.title %>
                                    </td>
                                    <td class="toLong filter">
                                        <%= ticket.description %>
                                    </td>
                                    <td class="filter">
                                        <%= ticket.creator_name %>
                                    </td>
                                    <td class="filter">
                                        <%= ticket.agent_name %>
                                    </td>
                                    <td class="filter">
                                        <%= ticket.created_datetime %>
                                    </td>
                                    <td class="filter">
                                        <%= ticket.category_name %>
                                    </td>
                                    <td class="filter
                                        <%= ticket.status === 'Solved' ? 'status-color-solved' :
                                            ticket.status === 'Closed' ? 'status-color-closed' :
                                            ticket.status === 'Processed' ? 'status-color-processed' :
                                            ticket.status === 'Created' ? 'status-color-created' : 'status-color-unknown' %>
                                    ">
                                        <%= ticket.status %>
                                    </td>
                                    <% if (role=="admin" ) { %>
                                        <td>
                                            <form action="/delete-ticket" method="POST">
                                                <input type="hidden" name="ticketID" value="<%= ticket.idTickets %>">
                                                <button type="submit" class="red-button"
                                                    onclick="return confirm('Are you sure you want to close this ticket?');">Delete</button>
                                            </form>
                                        </td>
                                        <% }%>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
    </div>


    <%- include("./../partials/footer.ejs") %>
