<%- include("./../partials/header.ejs") %>
    <script type="module" src="/java_script/eventHandlersTickets.js"></script>


    <div class="container">

        <div class="lightbox" id="lightbox">
            <span class="close" id="close">&times;</span>
            <img class="lightbox-image" id="lightbox-img" src="" alt="Large Image" style="display: none;">

            <!-- Container for displaying knowledge card details -->
            <div class="lightbox-content" id="lightbox-content" style="display: none;">
                <div class="knowledge-header">
                    <div class="knowledge-title" id="lightbox-title"></div>
                    <div class="knowledge-author" id="lightbox-author"></div>
                    <div class="knowledge-time" id="lightbox-time"></div>
                </div>
                <hr class="divider">
                <div class="knowledge-body">
                    <p class="knowledge-description" id="lightbox-description"></p>
                </div>
            </div>

            <a id="lightbox-download" download="">
                <button class="button" id="download-button" style="display: none;">Download Image</button>
            </a>
        </div>

        <div class="ticket-information">
            <div class="ticket-top-text">
                <%= ticket.title%>
            </div>
            <div class="ticket-top-row">
                <div class="created">
                    <h4>Created:</h4>
                    <%= ticket.created_datetime%>
                </div>
                <div class="updated">
                    <h4>Updated:</h4>
                    <%= ticket.updated_datetime%>
                </div>
                <div class="category">
                    <h4>Category:</h4>
                    <div class="category-text">
                        <select name="invincibleDropdown" onchange="
                                    window.location='/changeCategory?ticketID=<%=ticket.idTickets%>&category_id='
                        + this.value">
                            <% showCategories.forEach(Category=> { %>
                                <option value="<%= Category.idCategory %>" <%=ticket.category_id===Category.idCategory
                                    ? 'selected' : '' %>><%= Category.category_name %>
                                        <%=ticket.category_id===Category.idCategory ? '▼' : '' %>
                                </option>
                                <% }) %>
                        </select>
                    </div>

                </div>
                <div class="status">
                    <% if (role !='user' && ticket.agent_id===userId) { %>
                        <select name='invincibleDropdown'
                            class=" <%= ticket.status === 'Solved' ? 'status-background-color-solved' :
                                            ticket.status === 'Closed' ? 'status-background-color-closed' :
                                            ticket.status === 'Processed' ? 'status-background-color-processed' :
                                            ticket.status === 'Created' ? 'status-background-color-created' : 'status-background-color-unknown' %>"
                            onchange="
                        window.location='/changeStatus?ticketID=<%=ticket.idTickets%>&creatorEmail=<%=ticket.creator_email %>&ticketTitle=<%= ticket.title %>&status='
                        + this.value ">
                            <% availableStatuses.forEach(status=> { %>
                                <option value="<%= status %>" <%=ticket.status===status ? 'selected' : '' %>><%= status
                                        %>
                                        <%=ticket.status===status ? '▼' : '' %>
                                </option>
                                <% }) %>
                        </select>
                        <% } else { %>
                            <b
                                class="status-indicator <%= ticket.status === 'Solved' ? 'status-background-color-solved' :
                                            ticket.status === 'Closed' ? 'status-background-color-closed' :
                                            ticket.status === 'Processed' ? 'status-background-color-processed' :
                                            ticket.status === 'Created' ? 'status-background-color-created' : 'status-background-color-unknown' %>">
                                <%= ticket.status %>
                            </b>
                            <% } %>

                                <% if (ticket.status !=='Closed' && ticket.status !=='Solved' ) { %>
                                    <a class="red-button" href=" /closeTicket?ticketID=<%=ticket.idTickets%>&creatorEmail=
                    <%=ticket.creator_email %>&ticketTitle=<%= ticket.title %> %>"
                                        onclick="return confirm('Are you sure you want to close this ticket?');">
                                        Close Ticket
                                    </a>
                                    <% } else {%>
                                        <%= ticket.status_timestamp %>
                                            <% } %>
                </div>
            </div>
            <div class=" ticket-bottom-row">
                <div class="ticket-left">
                    <div class="description-ticket">
                        <h3 class="description-top">Description</h1>
                            <br>
                            <div class="description-bottom">
                                <%= ticket.description%>
                            </div>
                    </div>
                </div>

                <div class="ticket-right">
                    <div class="creator">
                        <h3>Creator</h3>
                        <h5>Name</h5>
                        <%= ticket.creator_name%>
                            <h5>Email</h5>
                            <%= ticket.creator_email %>
                    </div>
                    <div class="agent">
                        <h3>Agent</h3>
                        <% if (role=="admin" ) { %>
                            selection for changing agent <br>
                            <% }%>
                                <% if (ticket.agent_name) { %>
                                    <h5>Name</h5>
                                    <%= ticket.agent_name %>
                                        <h5>Email</h5>
                                        <%= ticket.agent_email %>
                                            <% } else { %>
                                                No agent assigned
                                                <br>
                                                <br>
                                                <% if (role!="user" ) { %>
                                                    <a class="button "
                                                        href="/claimTicket?ticketID=<%= ticket.idTickets %>&userID=<%= userId %>&userName=<%= userName %>&userEmail=<%= userEmail %>">Claim
                                                        Ticket</a>
                                                    <% }%>

                                                        <% }%>
                    </div>
                    <div class="attachments">
                        <h3>Attachments</h3>
                        <% showAttachments.forEach(attachment=> { %>
                            <% if (attachment.isImage) { %>
                                <img class="ticket-images" src="/user_files/<%= attachment.file_name %>"
                                    alt="<%= attachment.file_name %>"
                                    data-image="/user_files/<%= attachment.file_name %>">
                                <% } else { %>
                                    <a href="/user_files/<%= attachment.file_name %>" target="_blank">
                                        <%= attachment.file_name.replace(/-\d+-\d+(?=\.\w+$)/, '' ) %>
                                    </a>
                                    <% } %>
                                        <% }) %>
                    </div>
                </div>
            </div>
            <div class="ticket-comment-row">
                <h2 class="comment-top">Comments</h2>
                <% if ( (ticket.agent_id===userId || ticket.creator_id===userId ) && ticket.status !=='Closed' &&
                    ticket.status !=='Solved' ) { %>
                    <form class="comment-form" action="/addComment" method="POST">
                        <input type="text" placeholder="Comment" name="comment" value="" maxlength="2000" required>
                        <input type="hidden" name="ticketID" value="<%= ticket.idTickets %>">
                        <input type="hidden" name="ticketTitle" value="<%= ticket.title %>">
                        <input type="hidden" name="userName" value="<%= userName %>">
                        <input type="hidden" name="creatorEmail" value="<%= ticket.creator_email %>">
                        <% if (role !="user" ) { %>
                            <label for="hide" class="hide-comment"><b>hide form user</b></label>
                            <input type="checkbox" name="hide" value="on">
                            <% }%>
                                <button type="submit" class="btn " id="addComment">comment</button>
                    </form>
                    <% }%>
                        <div class="ticket-comments">
                            <% showComments.forEach(comment=> { %>
                                <div
                                    class="comment <% if (comment.user_role != 'user') { %> comment-right <%}else{%>comment-left<%}%>">
                                    <div class="comment-top">
                                        <div class="user_name">
                                            <%= comment.user_name %>
                                                <% if (comment.user_role !='user' ) { %>
                                                    <div
                                                        class="comment-role <% if (comment.user_role =='agent' ) { %> comment-role-blue <%}else{%>comment-role-red<%}%> ">
                                                        <%=comment.user_role%>
                                                    </div>
                                                    <%} %>

                                        </div>
                                        <div class="time">
                                            <%= comment.time_datetime %>
                                        </div>
                                        <% if (role !="user" ) { %>
                                            <form action="/addKnowledge" method="POST">
                                                <input type="hidden" name="category" value="<%= ticket.category_id %> ">
                                                <input type="hidden" name="title" value="<%= ticket.title %>">
                                                <input type="hidden" name="description" value="<%= comment.text %>">
                                                <button type="submit" class="knowledge-comment-button">add
                                                    knowledge</button>
                                            </form>
                                            <% }%>
                                    </div>
                                    <div
                                        class="ticket-comment-text <% if (comment.user_access==1) { %> hide-comment-color <% } %>">
                                        <%= comment.text %>
                                    </div>
                                </div>
                                <% }) %>
                        </div>
            </div>
        </div>
        <% if (role !='user' ) { %>
            <div class="knowledge-base-top">
                <h2 class="knowledge-top">Knowledge base <a class="button" href="/knowledge-base">more..</a></h2>

            </div>
            <div class="knowledge-base-ticket ">
                <% showKnowleges.slice(0, 3).forEach(Knowlege=> { %>
                    <div class="knowledge-card">
                        <div class="knowledge-header">
                            <div class="knowledge-title">
                                <%= Knowlege.title %>
                            </div>
                            <div class="knowledge-author">
                                <%= Knowlege.user_name %>
                            </div>
                            <div class="knowledge-time">
                                <%=Knowlege.time %>
                            </div>
                        </div>
                        <hr class="divider">
                        <div class="knowledge-body">
                            <p class="knowledge-description">
                                <%= Knowlege.description %>
                            </p>
                        </div>
                    </div>
                    <% }) %>
            </div>
            <% }%>
    </div>

    <%- include("./../partials/footer.ejs") %>
