<%- include("./../partials/header.ejs") %>
    <div class="container">
        <div class="top-text toLong">
            <%= ticket.title%>
        </div>
    </div>
    <div class="ticket-information">
        <div class="ticket-top-row">
            <div class="created">
                <h4>Created:</h4>
                <%= ticket.created_datetime%>
            </div>
            <div class="updated">
                <h4>Updated:</h4>
                <%= ticket.updated_datetime%>
            </div>
            <div class="status <%= ticket.status === 'Solved' ? 'status-background-color-solved' :
                                            ticket.status === 'Closed' ? 'status-background-color-closed' :
                                            ticket.status === 'Processed' ? 'status-background-color-processed' :
                                            ticket.status === 'Created' ? 'status-background-color-created' : 'status-background-color-unknown' %>
                                    "">
            <%= ticket.status%>
            </div>
        </div>
        <div class=" ticket-bottom-row">
                <div class="creator">
                    <h3>Creator</h3>
                    <h5>Name</h5>
                    <%= ticket.creator_name%>
                        <h5>Email</h5>
                        <%= ticket.creator_email %>
                </div>
                <div class="description-ticket">
                    <h3 class="description-top">Description</h1>
                        <br>
                        <div class="description-bottom">
                            <%= ticket.description%>
                        </div>
                </div>
                <div class="agent">
                    <h3>Agent</h3>
                    <% if (ticket.agent_name) { %>
                        <h5>Name</h5>
                        <%= ticket.agent_name %>
                            <h5>Email</h5>
                            <%= ticket.agent_email %>
                                <% } else { %>
                                    No agent assigned
                                    <br>
                                    <br>
                                    <% if (role=="agent" ) { %>
                                        <a class="button "
                                            href="/claimTicket?ticketID=<%= ticket.idTickets %>&userID=<%= userId %>&userName=<%= userName %>&userEmail=<%= userEmail %>">Claim
                                            Ticket</a>
                                        <% }%>

                                            <% }%>
                </div>
            </div>
        </div>

        <%- include("./../partials/footer.ejs") %>
